body {
  color: white;
  font-family: "Kanit", sans-serif;
  background: #0a5b90;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#demo {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 410px;
  border: 1px solid #333;
  background: url(../images/space-background.png);
}

#title {
  position: absolute;
  top: 120px;
  left: 40px;

}

#freds {
  position: absolute;
  top: 250px;
  left: 20px;
}

#freds img {
  width: 122px;
}

#time {
  position: absolute;
  top: 25px;
  right: 0;
  padding: 10px;
  background-color: #1f81d0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
  border: 1vmin solid black;
}

.circle {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
}

.circle span {
  color: white;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 13vmin;
}

.bg {
  position: absolute;
  background: white;
  opacity: 0.3;
  will-change: transform;
}